[*.lua]
indent_style = space
indent_size = 4
tab_width = 4
quote_style = double
max_line_length = 120
insert_final_newline = true
space_inside_function_call_parentheses = false
space_inside_function_param_list_parentheses = false
